
<a href="https://twitter.com/share" class="twitter-share-button">Tweet</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>


<a href="https://github.com/zachferland/CSS-Flags"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png" alt="Fork me on GitHub"></a>

<div class="header">
<div class="large-wrapper">
  <h1>CSS Flags</h1>
  <div class="button"><%= link_to "Use Flags or Contribute on Github", "https://github.com/zachferland/CSS-Flags" %></div>
  <div class="line"></div>
  <p>A collection of flags created in only CSS and HTML from various countries around the world. Contribute to the collection <%= link_to "here", "https://github.com/zachferland/CSS-Flags" %> by creating <%= link_to "a flag from any country", "http://www.flags.net/fullindex.htm" %> or improving one. New flags will be continually added. These flags are not guranteed to be any bit useful. </p>
</div>
</div>

<div class="small-wrapper">

  <div class="text-box">
    <h2>United States</h2>
    <h4>by <%= link_to "@zachferland", "https://twitter.com/zachferland" %></h4>
  </div>
  <!-- <p>by @zachferland</p> -->
  <!-- United States Flag -->
  <div class="united-states">
    <div class="square">
      <div class="star-space"></div>
      <div class="star-row">
        <div id="star"></div>
        <div id="star"></div>
        <div id="star"></div>
        <div id="star"></div>
        <div id="star"></div>
        <div id="star"></div>
      </div>
      <div class="star-row-five">
        <div id="star"></div>
        <div id="star"></div>
        <div id="star"></div>
        <div id="star"></div>
        <div id="star"></div>
      </div>
      <div class="star-row">
        <div id="star"></div>
        <div id="star"></div>
        <div id="star"></div>
        <div id="star"></div>
        <div id="star"></div>
        <div id="star"></div>
      </div>
      <div class="star-row-five">
        <div id="star"></div>
        <div id="star"></div>
        <div id="star"></div>
        <div id="star"></div>
        <div id="star"></div>
      </div>
      <div class="star-row">
        <div id="star"></div>
        <div id="star"></div>
        <div id="star"></div>
        <div id="star"></div>
        <div id="star"></div>
        <div id="star"></div>
      </div>
      <div class="star-row-five">
        <div id="star"></div>
        <div id="star"></div>
        <div id="star"></div>
        <div id="star"></div>
        <div id="star"></div>
      </div>
      <div class="star-row">
        <div id="star"></div>
        <div id="star"></div>
        <div id="star"></div>
        <div id="star"></div>
        <div id="star"></div>
        <div id="star"></div>
      </div>
      <div class="star-row-five">
        <div id="star"></div>
        <div id="star"></div>
        <div id="star"></div>
        <div id="star"></div>
        <div id="star"></div>
      </div>
      <div class="star-row">
        <div id="star"></div>
        <div id="star"></div>
        <div id="star"></div>
        <div id="star"></div>
        <div id="star"></div>
        <div id="star"></div>
      </div>
    </div>
    <div class="row red"></div>
    <div class="row white"></div>
    <div class="row red"></div>
    <div class="row white"></div>
    <div class="row red"></div>
    <div class="row white"></div>
    <div class="row red"></div>
    <div class="row white"></div>
    <div class="row red"></div>
    <div class="row white"></div>
    <div class="row red"></div>
    <div class="row white"></div>
    <div class="row red"></div>
  </div>
  <!-- End -->


  <div class="text-box">
    <h2>Italy</h2>
    <h4>by <%= link_to "@zachferland", "https://twitter.com/zachferland" %></h4>
  </div>
  <!-- Italy Flag -->
  <div class="italy">
    <div class="column green"></div>
    <div class="column white"></div>
    <div class="column red"></div>
  </div>
  <!-- End -->


  <div class="text-box">
    <h2>Indonesia</h2>
    <h4>by <%= link_to "@zachferland", "https://twitter.com/zachferland" %></h4>
  </div>
  <!-- Indonesia Flag -->
  <div class="indonesia">
    <div class="row red"></div>
    <div class="row white"></div>
  </div>
  <!-- End -->


  <div class="text-box">
    <h2>France</h2>
    <h4>by <%= link_to "@zachferland", "https://twitter.com/zachferland" %></h4>
  </div>
  <!-- France Flag -->
  <div class="france">
    <div class="column blue"></div>
    <div class="column white"></div>
    <div class="column red"></div>
  </div>
  <!-- End -->


  <div class="text-box">
    <h2>Germany</h2>
    <h4>by <%= link_to "@zachferland", "https://twitter.com/zachferland" %></h4>
  </div>
  <!-- Germany Flag -->
  <div class="germany">
    <div class="row black"></div>
    <div class="row red"></div>
    <div class="row yellow"></div>
  </div>
  <!-- End -->

  <div class="text-box">
    <h2>Curaçao</h2>
    <h4>by <%= link_to "@zachferland", "https://twitter.com/zachferland" %></h4>
  </div>
  <!-- Curacao Flag -->
  <div class="curacao">
    <div class="small">
      <div id="star"></div>
    </div>
    <div class="large">
      <div id="star"></div>
    </div>
    <div class="row yellow"></div>
  </div>
  <!-- End -->

  <div class="text-box">
    <h2>Taiwan</h2>
    <h4>by <%= link_to "@zachferland", "https://twitter.com/zachferland" %></h4>
  </div>
  <!-- Italy Flag -->
  <div class="taiwan">
    <div class="square">
      <div class="symbol">
        <div class="circle"></div>
        <div class="triangle-1"></div>
        <div class="triangle-2"></div>
        <div class="triangle-3"></div>
        <div class="triangle-4"></div>
        <div class="triangle-5"></div>
        <div class="triangle-6"></div>
        <div class="triangle-7"></div>
        <div class="triangle-8"></div>
        <div class="triangle-9"></div>
        <div class="triangle-10"></div>
        <div class="triangle-11"></div>
        <div class="triangle-12"></div>
      </div>
    </div>
  </div>
  <!-- End -->

  <div class="text-box">
    <h2>Monaco</h2>
    <h4>by <%= link_to "@zachferland", "https://twitter.com/zachferland" %></h4>
  </div>
  <!-- Monaco Flag -->
  <div class="monaco">
    <div class="row red"></div>
    <div class="row white"></div>
  </div>
  <!-- End -->

  <div class="text-box">
    <h2>Qatar</h2>
    <h4>by <%= link_to "@zachferland", "https://twitter.com/zachferland" %></h4>
  </div>
  <!-- Monaco Flag -->
  <div class="qatar">
    <div class="white"></div>
    <div class="triangle-container first"><div class="triangle"></div></div>
    <div class="triangle-container"><div class="triangle"></div></div>
    <div class="triangle-container"><div class="triangle"></div></div>
    <div class="triangle-container"><div class="triangle"></div></div>
    <div class="triangle-container"><div class="triangle"></div></div>
    <div class="triangle-container"><div class="triangle"></div></div>
    <div class="triangle-container"><div class="triangle"></div></div>
    <div class="triangle-container"><div class="triangle"></div></div>
    <div class="triangle-container"><div class="triangle"></div></div>
  </div>
  <!-- End -->




</div>


<div class="footer">
  <div class="wrapper">
    <div class="by">
      <p class="made-by">A mini project by</p>
      <div class="grey-button">
        <div class="icon"></div>
        <div class="text-on-button" onclick="mixpanel.track('Click Personal Twitter Button');"><a href="https://twitter.com/zachferland">@zachferland</a></div>
      </div>
      <p class="made-in"> in Trento, Italy</p>
      <div class="italian-flag">
        <div class="green part"></div>
        <div class="white part"></div>
        <div class="red part"></div>
      </div>
    </div>
  </div>
</div>