
<a href="https://twitter.com/share" class="twitter-share-button">Tweet</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>


<a href="https://github.com/zachferland/CSS-Flags"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png" alt="Fork me on GitHub"></a>

<div class="header">
<div class="large-wrapper">
  <h1>CSS Flags</h1>
  <div class="button"><%= link_to "Use Flags or Contribute on Github", "https://github.com/zachferland/CSS-Flags" %></div>
  <div class="line"></div>
  <p>A collection of flags created in only CSS and HTML from various countries around the world. Contribute to the collection <%= link_to "here", "https://github.com/zachferland/CSS-Flags" %> by creating <%= link_to "a flag from any country", "http://www.flags.net/fullindex.htm" %> or improving one. New flags will be continually added and old ones improved. These flags are not guranteed to be any bit useful and unfortunately as of now, only tested on the latest version of Chrome. Enjoy!</p>
</div>
</div>

<div class="small-wrapper">

  <%= render "flags/united_states" %>

  <%= render "flags/italy" %>

  <%= render "flags/indonesia" %>

  <%= render "flags/france" %>

  <%= render "flags/germany" %>

  <%= render "flags/curacao" %>

  <%= render "flags/taiwan" %>

  <%= render "flags/monaco" %>

  <%= render "flags/qatar" %>
    
</div>


<div class="footer">
  <div class="wrapper">
    <div class="by">
      <p class="made-by">A mini project by</p>
      <div class="grey-button">
        <div class="icon"></div>
        <div class="text-on-button" onclick="mixpanel.track('Click Personal Twitter Button');"><a href="https://twitter.com/zachferland">@zachferland</a></div>
      </div>
      <p class="made-in"> in Trento, Italy</p>
      <div class="italian-flag">
        <div class="green part"></div>
        <div class="white part"></div>
        <div class="red part"></div>
      </div>
    </div>
  </div>
</div>